header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin-top: 4.5rem;
    margin-left: 3rem;
    position: relative;
}
.logo::after{
    content: "";
    position: absolute;
    top: 30%;       
    left: 200%;    
    width: 600px;    
    height: 1px;   
    background: rgb(50, 50, 50);
    z-index: -1;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 80px;
    width: 800px;
    margin-top: 3rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px);                 
    -webkit-backdrop-filter: blur(8px);        
   
}
nav a{
    margin-right: 2rem;
    text-decoration: none;
    color: rgb(188, 185, 185);
    letter-spacing: 3px;
    border:none;
    padding-bottom: 25px;
}
a b{
    color: white;
}
nav a.active {
    border-bottom: 3px solid white;

}

.menu-icon{
    display: none;
    margin-top: 1rem;
    margin-right: 1rem;
    width: 40px;
    height: 40px;
}
