*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../imagens/background-technology-desktop.jpg");
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Marcellus", serif;
    max-width: 100vw;
}
h3{
    margin-top: 4rem;
    margin-left: 8rem;
    color: rgb(196, 196, 196);
    font-weight: lighter;
}
h3 span{
    color: gray;
    margin-right: 7px;
}
.content{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin-left: 8rem;
    gap: 20px;
}
button{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    color: rgb(196, 196, 196);
    font-weight: lighter;
    background-color: transparent;
    border: 1px solid gray;
}
.button.active{
    background-color: white;
    color: black;
}
.informations{
    margin-left: 3rem;
}
.informations h4{
    color: rgb(196, 196, 196);
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 8px;
}
.informations h1{
    color: white;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}
.informations p{
    width: 320px;
    color: rgb(166, 166, 166);
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
}
.image{
    margin-left: 6rem;
    position: fixed;
    right: 0;  
    margin-top: -3rem;
}
.image img{
    width: 400px;
   
}
